


.header {

background-color: #00838F;
color: white;
padding: 5px;
font-size: 130%;
text-align: center;

}



.stopka {

background-color: #00838F;
color: white;
padding: 5px;
font-size: 130%;
text-align: center;
clear: both;


    
}

.lewy1, .lewy2{
    float: left;
}

.lewy1 {

background-color: #EFEFEF;
width: 55%;
height: 150px;


}

.lewy2 {

background-color: #EFEFEF;
width: 55%;
height: 300px;


}

.prawy {

background-color: #4FB3BF;
width: 45%;
height: 450px;
text-align: center;
display: inline-block;

}

.ryba{

box-shadow: 10px 10px 7px dimgray;
margin: 20px;


}
    
table,td,tr{

border-collapse: collapse ;
border: 1px solid;
border-color: #4FB3BF;

}

table {
    margin: auto;
    width: 80%;

}

td {
    padding: 4px;
}


 tr:hover {
    background-color: #00838F;
    padding: 4px;

}